<div class="row text-center">
	<div class="span12">
		<img src="img/kassalade-500y290.jpg" style="border-radius: 5px;">
	</div>
</div>
<br>
<div class="row text-center">
	<div class="span12">
		Huidige inhoud:
		<span style="font-family: monospace" class="label label-info">
			<strong><span ng-bind-html='printAmount(totalAmount)'></span></strong>
		</span>
	</div>
</div>
<br>
<div class="row text-center">
	<div class="span12">
		&nbsp;&nbsp;
		<div class="input-prepend">
			<span class="add-on">&euro;</span>
			<input class="input-mini" id="appendedPrependedInput2" placeholder="Bedrag" type="text" ng-model="amount">
		</div>
		<div class="input-append">
			<input class="input-xlarge" id="appendedInput" placeholder="Toelichting" type="text" ng-model="reason">
			<span class="btn btn-primary" ng-click="mutateRegister()" >Pas aan</span>
		</div>
		&nbsp;&nbsp;
		<i class="icon-question-sign" style="position:relative; top:  -4px;" title="Voer positief bedrag in om te storten, negatief om uit kas te halen."></i>
	</div>
</div>
<br>
<br>

<div class="row text-center">
	<div class="span1"></div>
	<div class="span10">
		<table class="table table-condensed">
			<tbody>
				<tr ng-repeat="mutatie in mutaties">
					<td class="muted">{{mutatie.user}}</td>
					<td width="100"><span class="label">{{mutatie.showDate}}</span></td>
                    <td width="100" style="font-family: monospace"><span ng-class="{'label': true, 'label-success': positive(mutatie.amount), 'label-important': !positive(mutatie.amount)}"><strong><span ng-bind-html='printAmount(mutatie.amount)'></span></strong></span></td>
					<td width="100%">{{mutatie.reason}}</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div class="span1"></div>
</div>

