<form class="form-search">
    <div class="row text-center">
        <div class="span12">
            <h2>Welkom bij de VA incheck.</h2>
            <br>
            <br>
        </div>
    </div>
    <div class="row text-center">
        <div class="span12">
            <div class="input-append">
                <input id="query" ng-model="query" type="text" placeholder="Voer je plin in" class="span2 search-query" ng-keypress="keyPress($event);" autofocus>
                <button type="submit" class="btn btn-info" ng-click="login()">Login&nbsp;<i class="icon-ok-circle"></i></button>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row text-center">
        <div class="span12">
            <hr>
        </div>
    </div>

    <br>
    <div class="row text-center">
        <div class="span12">
            Dit systeem gebruikt momenteel de volgende kassalade:
            <br>
            <br>
        </div>
    </div>

    <div class="row text-center">
        <div class="span12">
            <select id="roleSelector" class="input-medium" name="roleSelector" ng-change="chooseRegister(registerName)" ng-model="registerName">
                <option value="choose">Kies</option>
                <option value="kassa-1">kassa-1</option>
                <!--<option value="kassa-2">kassa-2</option>-->
                <option value="server-geen-kassa">Server, geen kassa</option>
            </select>
        </div>
    </div>

</form>
