<form class="form">

    <div class="row text-center">
        <span class="span1">&nbsp;</span>
        <span class="span6">
            <h2>Invoeren nieuwe deelnemer</h2>
        </span>
    </div>

        <div class="row text-right">
            <span class="span1">&nbsp;</span>
            <span class="span6">
                <table>
                    <tr>
                        <td>Voornaam&nbsp;</td>
                        <td><input id="firstName" ng-model="firstName" type="text" class="span3"></td>
                    </tr>
                    <tr>
                        <td>Tussenvoegsel&nbsp;</td>
                        <td><input id="tussenVoegsel" ng-model="tussenVoegsel" type="text" class="span3"></td>
                    </tr>
                    <tr>
                        <td>Achternaam&nbsp;</td>
                        <td><input id="lastName" ng-model="lastName" type="text" class="span3"></td>
                    </tr>
                    <tr>
                        <td>Geslacht&nbsp;</td>
                        <td><select id="gender" class="input-medium" name="gender" ng-model="gender">
                            <option value="M">Man</option>
                            <option value="V">Vrouw</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Geboortedatum&nbsp;</td>
                        <td><input id="dob" ng-model="dob" type="text" class="span3" placeholder="dd-mm-jjjj"></td>
                    </tr>
                    <tr>
                        <td>e-mailadres&nbsp;</td>
                        <td><input id="email" ng-model="email" type="text" class="span3"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><button class="btn btn-primary" ng-click="submit()">Versturen</button></td>
                    </tr>
                </table>
            </span>
            <span class="span6">
                <!--<img src="../img/pic-unrelated.jpg" style="border-radius: 5px;">-->
            </span>
        </div>
    </div>
</form>
