<form class="form-search">
    <div class="span12">
        <div class="row text-center">

            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="query">Deelnemers op datum</label>
                    <div class="controls">
                        <input id="query" ng-model="query" type="text" placeholder="dd-mm-jjjj" class="span2 search-query" ng-keypress="keyPress($event);" autofocus>
                        <button ng-click="openReport()" class="btn btn-primary">Toon</button>
                    </div>
                </div>
            </form>
            <hr />
            <p>Kasmutaties <a href="/server/report/cashregistermutations" target="_blank" class="btn btn-primary">Toon</a></p>
            <hr />
        </div>
    </div>
</form>
