<br/>
<br/>
<form class="form-search">
	<div class="row text-center">
		<div class="span12">

            <div class="input-append">
                <input ng-model="query" type="text" placeholder="plin, naam" class="span2 search-query" ng-keypress="keyPress($event);" autofocus>
                <button type="submit" class="btn btn-info" ng-click="go()">Go!</button>
            </div>
		</div>
	</div>
</form>

<div class="row text-center">
	<div class="span12">
		<small>Getoond: {{(contestants | blockNoQuery:query | filter:query | limitTo:10).length}} / {{(contestants | blockNoQuery:query | filter:query).length}}</small>
	</div>
</div>
<br>
<div class="row text-center">
	<div class="span3">
	</div>
	<div class="span8">
		<table class="table table-hover">
			<tbody>
				<tr ng-repeat="contestant in contestants | blockNoQuery:query | filter:query | orderBy:'plin' | limitTo:10" ng-click="register({{contestant.plin|stripLeadingZeroes}});">
					<td id="result-{{$index}}" style="text-align: right;" width="40;">{{contestant.plin | stripLeadingZeroes}}</td>
					<td ng-class="{'text-error': !contestant.plin}"><strong>{{contestant.name}}</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span1">
	</div>
</div>
