<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<head >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VA Incheck</title>
	<link rel="stylesheet" href="css/incheck.css"/>

	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>
<body>
	<div class="navbar" ng-controller="NavBarController">
		<div class="navbar-inner">
			<a class="brand" href="#">VA Incheck<i class="icon-ok-sign"></i> {{name}}</a>
			<ul class="nav">
				<li ng-if="loggedIn" ng-class="{active: page=='search'}"><a href="#/search">Zoeken</a></li>
				<li ng-if="loggedIn" ng-class="{active: page=='incheck'}"><a href="#register" onclick="return false;"><span ng-class="{muted: page!='incheck'}">Details</span></a></li>
                <li ng-if="loggedIn" ng-class="{active: page=='newPlayer'}"><a href="#/new">Nieuw</a></li>
				<li ng-if="loggedIn" ng-class="{active: page=='register'}"><a href="#/register">Kassa</a></li>
                <li ng-if="loggedIn" ng-class="{active: page=='report'}"><a href="#/report">Rapport</a></li>
                <!--<li ng-if="loggedIn" ng-class="{active: page=='report'}"><a href="#/achievement">Achievements</a></li>-->
                <li ng-if="loggedIn" ><a href="#" ng-click="openPrijzen()">Prijzen</a></li>
			</ul>
            <ul class="nav pull-right">
                <li ><a href="#"><span class="label">{{cashRegiser}}</span></a></li>
                <li ng-if="loggedIn"><a href="#" ng-click="logout();"><span class="label label-success">{{user}}</span> <span class="label label-info">logout</span></a></li>
            </ul>
		</div>
	</div>
	<div ng-view></div>

	<!-- In production use:
	  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	  -->
	<script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>

    <script src="lib/noty/jquery.noty.js"></script>
    <script src="lib/noty/layouts/top.js"></script>
    <script src="lib/noty/layouts/topCenter.js"></script>
    <script src="lib/noty/layouts/center.js"></script>
    <script src="lib/noty/layouts/bottomCenter.js"></script>
    <script src="lib/noty/layouts/bottom.js"></script>
    <script src="lib/noty/themes/default.js"></script>

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
	<script src="lib/angular/angular-sanitize.min.js"></script>

	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
    <script src="js/customScript.js"></script>
</body>
</html>
